
Lecture/Assets.xcassets/讲座界面png/chat.imageset/Contents.json

*.json

Lecture/Assets.xcassets/讲座界面png/Choice-left.imageset/Contents.json

Lecture/Assets.xcassets/讲座界面png/chat.imageset/Contents.json

Lecture/Assets.xcassets/讲座界面png/progress_bar.imageset/Contents.json

Lecture/Assets.xcassets/讲座界面png/progress_circle.imageset/Contents.json
