<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shares_count</key>
		<integer>0</integer>
		<key>replys_count</key>
		<integer>0</integer>
		<key>attitudes_count</key>
		<integer>0</integer>
		<key>like</key>
		<false/>
		<key>content</key>
		<string>张医生辛苦，听好多妈妈说宝宝接种了流感疫苗后感觉更容易感冒了，社区让打流感疫苗我吓的一直没去，是不是真的如此呢，前天带宝宝出了门回来夜里就发烧了</string>
		<key>user</key>
		<dict>
			<key>name</key>
			<string>李灵黛</string>
			<key>vip</key>
			<string>user_vip_1</string>
			<key>icon</key>
			<string>userIcon_1</string>
		</dict>
	</dict>
	<dict>
		<key>shares_count</key>
		<integer>9999</integer>
		<key>replys_count</key>
		<integer>6</integer>
		<key>attitudes_count</key>
		<integer>5</integer>
		<key>like</key>
		<false/>
		<key>content</key>
		<string>孩子在家不咳嗽～出门就咳嗽怎么办</string>
		<key>user</key>
		<dict>
			<key>name</key>
			<string>冷文卿</string>
			<key>vip</key>
			<string>user_vip_2</string>
			<key>icon</key>
			<string>userIcon_2</string>
		</dict>
	</dict>
	<dict>
		<key>shares_count</key>
		<integer>11331</integer>
		<key>replys_count</key>
		<integer>3</integer>
		<key>attitudes_count</key>
		<integer>1</integer>
		<key>like</key>
		<false/>
		<key>content</key>
		<string>一岁孩子，感冒后总是咳嗽不好，好了两个星期了，但是一直咳嗽，不严重，就是好像嗓子有痰似的，尤其晚上睡觉醒后比较严重，白天咳嗽还不是很厉害</string>
		<key>user</key>
		<dict>
			<key>name</key>
			<string>李念</string>
			<key>vip</key>
			<string>user_vip_3</string>
			<key>icon</key>
			<string>userIcon_3</string>
		</dict>
	</dict>
	<dict>
		<key>shares_count</key>
		<integer>1</integer>
		<key>replys_count</key>
		<integer>4</integer>
		<key>attitudes_count</key>
		<integer>3</integer>
		<key>like</key>
		<false/>
		<key>content</key>
		<string>这几天新闻说上海流感比较多，H1N1,希望老师多讲讲</string>
		<key>user</key>
		<dict>
			<key>name</key>
			<string>魏天霞</string>
			<key>vip</key>
			<string>user_vip_4</string>
			<key>icon</key>
			<string>userIcon_4</string>
		</dict>
	</dict>
</array>
</plist>
