<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shares_count</key>
		<integer>0</integer>
		<key>replys_count</key>
		<integer>0</integer>
		<key>attitudes_count</key>
		<integer>0</integer>
		<key>like</key>
		<false/>
	</dict>
	<dict>
		<key>shares_count</key>
		<integer>9999</integer>
		<key>replys_count</key>
		<integer>100</integer>
		<key>attitudes_count</key>
		<integer>2</integer>
		<key>like</key>
		<false/>
	</dict>
	<dict>
		<key>shares_count</key>
		<integer>11331</integer>
		<key>replys_count</key>
		<integer>1313</integer>
		<key>attitudes_count</key>
		<integer>1</integer>
		<key>like</key>
		<false/>
	</dict>
	<dict>
		<key>shares_count</key>
		<integer>1</integer>
		<key>replys_count</key>
		<integer>13</integer>
		<key>attitudes_count</key>
		<integer>3</integer>
		<key>like</key>
		<false/>
	</dict>
</array>
</plist>
